@import './components/fonts.css';
@import './components/header.css';
@import './components/user.css';

body{
    margin: 0px;
    font-weight: 300;
    font-family: "adelle","Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","微软雅黑体","Hiragino Sans GB","冬青黑体",sans-serif;
    color: #2e3333;
}