@import './components/fonts.css';
@import './components/header.css';
@import './components/user.css';
@import './components/hero.css';
@import './components/restaurants.css';
@import './components/restaurant.css';

body{
    margin: 0px;
}

p, h1, h2{
    font-family: adelle,sans-serif;
    font-weight: lighter;
    color: #2e3333;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}
