/* ###############################
    HEADER
############################### */
.header{
    width: 100%;
    display: block;
    height: 38px;
    padding: 0 ;
    padding-top: 10px;
}

.header--left{
    display: inline-block;
}

.header--right{
    float: right;
}

.header__image{
    height: 30px;
}

@media (max-width: 480px){
    .header__image{
        height: 26px;
        clip: rect(0px,28px, 200px,0px);
    }
}