/* ###############################
    HEADER
############################### */
.header{
    width: 100%;
    display: block;
    height: 45px;
}

.header--left,
.header--right{
    padding: 10px 0;
}

.header--left{
    display: inline-block;
}

.header--right{
    float: right;
}

.header__image{
    height: 20px;
}

@media (max-width: 480px){
    .header__image{
        position: absolute;
        clip: rect(0px,20px, 200px,0px);
    }
}