.hero{
    width: 100%;
    display: block;
    background-color: #00CCBC;
    padding: 25px 0 10px;
}

.hero--left,
.hero--right{
    padding: 10px 0;
}

/* if using sass would use a mixin to prevent duplicate code */
.hero--left{
    display: inline-block;
}

.hero--right{
    float: right;
}

.hero__header{
    color: #fff;
    font-size: 28px;
}

.hero__text{
    font-size: 14px;
}

.hero__button{
    color: #00CCBC;
    border-color: #fff;
    border-radius: 2px;
    padding: 8px 16px;
}

@media (max-width:480px){
    .hero--right{
        float: none;
        padding-top: 0;
    }
}