/* ###############################
    RESTAURANTS
############################### */
.restaurants__count{
    margin: 30px 0;
    color: #828585;
    font-size: 14px;
}

.restaurants__list{
    padding-top: 3px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 21px;
    grid-column-gap: 30px;
}

@media (max-width: 480px){
    .restaurants__count{
        display: none;
    }

    .restaurants__list{
        margin-top: 13px;
        grid-template-columns: auto;
        grid-row-gap: 23px;
        grid-column-gap: 0;
    }
}