/* ###############################
    USER
############################### */
.user{
    display: block;
}

.user__img,
.user__name{
    display: inline-block;
}

.user__name{
    margin-left: 8px;
    font-size: 14px;
}

@media (max-width: 480px){
    .user__name{
        display: none;
    }
}